<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!--MyBatis生成器（MBG）是MyBatis MyBatis的代码生成器。
 它将为MyBatis的所有版本生成代码。它将对一个（或多个）数据库表进行内部检查，
 并将生成可用于访问表的工件。这减轻了设置对象和配置文件以与数据库表进行交互的麻烦。
 MBG试图对简单CRUD（创建，检索，更新，删除）的大部分数据库操作产生重大影响。
 您仍将需要手工编写SQL和对象代码以进行联接查询或存储过程。
 MBG会根据其配置方式以不同的样式和不同的语言生成代码。
 例如，MBG可以生成Java或Kotlin代码。
 MBG可以生成MyBatis3兼容的XML-尽管现在认为MBG是旧版使用。生成的代码的较新样式不需要XML。
 http://mybatis.org/generator/index.html
-->
<generatorConfiguration>
    <!--<classPathEntry location="/Program Files/IBM/SQLLIB/java/db2java.zip"/>-->

    <context id="DB2Tables" targetRuntime="MyBatis3">
        <!--数据库连接地址账号密码-->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql:///seckill?useSSL=false"
                        userId="root"
                        password="123">
        </jdbcConnection>
        <!--类型转换-->
        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>
        <!--生成DataObject类存放位置，数据库对应到java DO的类-->
        <javaModelGenerator targetPackage="slf.xbb.domain" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>
        <!--生成映射文件存放位置-->
        <sqlMapGenerator targetPackage="mapping" targetProject="src/main/resources">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>
        <!--生成Dao类存放位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="slf.xbb.dao" targetProject="src/main/java">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>
        <!--生成对应表及类名-->
        <!--每次生成前，把已经生成过的table注释掉-->
        <!--<table schema="seckill" tableName="user_info" domainObjectName="UserDo"></table>-->
        <!--<table schema="seckill" tableName="user_password" domainObjectName="UserPasswordDo"></table>-->
        <!--<table schema="seckill" tableName="item" domainObjectName="ItemDo"></table>-->
        <!--<table schema="seckill" tableName="item_stock" domainObjectName="ItemStockDo"></table>-->
        <!--<table schema="seckill" tableName="order_info" domainObjectName="OrderDo"></table>-->
        <!--<table schema="seckill" tableName="sequence_info" domainObjectName="SequenceDo"></table>-->
        <!--<table schema="seckill" tableName="promo" domainObjectName="PromoDo"></table>-->


        <!--<table schema="DB2ADMIN" tableName="ALLTYPES" domainObjectName="Customer">-->
        <!--    <property name="useActualColumnNames" value="true"/>-->
        <!--    <generatedKey column="ID" sqlStatement="DB2" identity="true"/>-->
        <!--    <columnOverride column="DATE_FIELD" property="startDate"/>-->
        <!--    <ignoreColumn column="FRED"/>-->
        <!--    <columnOverride column="LONG_VARCHAR_FIELD" jdbcType="VARCHAR"/>-->
        <!--</table>-->

    </context>
</generatorConfiguration>